<!DOCTYPE html>
<html lang="uk-UA" title="Офіційний сайт Інституту «Інтермаріум»" translate="yes">

<head title="Інститут «Інтермаріум» - Головна сторінка ">

  <title>Інститут «Інтермаріум»</title>

<meta charset="utf-8" />  
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Офіційний сайт - Інстиуту «Інтермаріум»">
<meta name="description" content="Офіційний сайт - Інституту «Інтермаріум». Інститут «Інтермаріум» - аналітичний та інформаційно-просвітницький центр." >
<meta name="keywords" content="Інститут, Інститут «Інтермаріум», Institute «INTERMARIUM», analitical article, news, tidings аналітика, аналітичний центра, науково-дослідницький, інформаційний, просвітницький, події, статті, новини">

<meta name="author" content="Директор Інституту «Інтермаріум». Валентин Гайдай">
<link rel="shortcut icon" type="image/ico" href="/img/favicon.ico"/>
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">
<link rel="canonical" href="https://institute-intermarium.com"/>
<link rel="stylesheet" href="/css/interium.css"/>
<link rel="stylesheet" href="/css/text.css"/>

<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;607;701;830&display=swap');
</style>

</head>
{{> header}}
{{> nav}}

 <section class="page_content main_content ">

<main class="main_section">



              <div class="main_block">
        <section class="hero_block_text institute article-container">

    <div class="article">   
<h1 class="article-title"> Про Інститут «Інтермаріум»</h1>
<img src="/img/logof.webp" class="article-image" style="background-color: #e2d8a6f3;">


 <p class="article-text"> У квітні 2023 року в Києві засновано Інститут «Інтермаріум». </p>
    <p class="article-text">Його засновниками є українські науковці, експерти та громадські діячі.</p>
    <p class="article-text"> Метою діяльності Інституту являється консолідація зусиль, направлених на поширення, розвиток та популяризацію ідей Інтермаріуму (Балто-Чорноморського союзу), україноцентризму, традиційних цінностей, поглиблення політичного, суспільного, наукового, економічного та загалом всебічного діалогу України з її західними партнерами та сусідами, насамперед – з країнами Північної, Центральної та Південно-Східної Європи, країнами Південного Кавказу (Закавказзя), Туреччиною та Великобританією.   </p>
   <br>
    <p class="article-text"> Інститут «Інтермаріум» являє собою організацію науково-дослідного та інформаційно-просвітницького типу. Ми – своєрідний клуб, який покликаний об’єднати науковців, політиків, громадських діячів, журналістів, волонтерів, всіх небайдужих і зацікавлених в наших ідеях та напрямках діяльності. </p>
     <p class="article-text"> Основними напрямками діяльності Інституту можна виокремити:</p>
                <ol class="article-text">
                  <li >Пропагування на принципах україноцентризму ідеї Інтермаріуму (Балто-Чорноморського союзу/Міжмор’я) або будь-яких інших форм та концепцій альянсів, міждержавних об’єднань на основі  країн Північної, Центральної, Південно-Східної Європи, Південного Кавказу, Туреччини і Великобританії та поглиблення всебічного партнерства між ними;</li>
                  <li >Дослідження  та оцінка поточних суспільно-політичних процесів в Україні, Європі та світі;</li>
                  <li >Моделювання стратегії та етапів післявоєнної відбудови України;</li>
                  <li >Моделювання концепції та стратегії нової системи колективної безпеки в Європі, зокрема, в Центральноєвропейському, Східноєвропейському, Чорноморському регіоні;</li>
                  <li>Дослідження процесу розпаду Росії та майбутнього пост-російського простору;</li>
                  <li>Виховання покоління майбутніх політиків місцевого та всеукраїнського рівня.</li>
                </ol>


    <p class="article-text">Віримо в успіх та широку перспективу нашого проекту, який зробить Україну та Європу сильнішими!</p>
    </div>
</section>
 </div>

</main>
</section>
{{> footer}}