<section class="page_content main_content">

    <main class="main_section">


        <div class="main_block">
            <section class="hero_block">

                <div class="hero_presentation">
                    <div class="presentation_space">
                        <h4>Вітаємо Вас на сторінці Інституту «Інтермаріум»!</h4>
                        <em> Інститут «Інтермаріум» є аналітичним та інформаційно-просвітницьким центром.</em>
                        <em>Аналітична кафедра Інституту, до якої входять українські вчені та експерти, досліджує
                            поточні суспільно-політичні процеси в Україні та світі, моделює стратегію післявоєнної
                            відбудови України, концепцію та стратегію нової системи колективної безпеки в Європі,
                            займається дослідженням інших актуальних тем та процесів.</em>
                    </div>
                </div>
                <div class="youtube_issue">
                    <iframe id="ytplayer" type="text/html" width="355" height="198"
                        src="https://www.youtube.com/embed/R_8fEhB8g4w" frameborder="0" allowfullscreen></iframe>
                </div>
            </section>

            <section class="info_block">



                {{> mainNews}}
                {{> mainArticles}}

                <?php include 'mainArticles.php'; ?>



            </section>
        </div>
    </main>


</section>