<section class="page_content footer_block">
<footer title="Footer сторінки" translate="yes" dir="ltr" lang="uk-UA" tabindex="3">
  
<section class="footer_info_block">

      <div class="footer_info_block_title">
        <a href="/activities.php" class="nav_link_footer" title="про діяльність Інституту Інтермаріум" target="_blank">
        <p>Інститут «ІНТЕРМАРІУМ»</p>
        </a>
      </div>
      
  <div class="footer_block_info_text">
      <a href="/activities.php" class="nav_link_footer" title="про діяльність Інституту Інтермаріум" target="_blank">
        <em> Український погляд на концепцію Інтермаріуму <wbr> має ґрунтуватися на україноцентризмі  <wbr> –  лобіюванні всебічних інтересів України серед країн,</em></wbr>
        <em>які передусім входять в концепцію Інтермаріуму <wbr> та серед інших країн Європи та світу. Який би з варіантів альянсу <wbr> або стратегічного партнерства </em> <wbr> 
        <em>на основі ідеї Інтермаріуму не розглядався, <wbr> для України він може стати інструментом розширення <wbr> її всебічних зовнішньополітичних контактів,</em> <wbr> 
        <em>одним з джерел післявоєнного відродження, <wbr> зростання міжнародного авторитету Києва.</em>
      </a>
 </div>
    <div class="footer_block_info_author">
      <p class="footer_author">Директор Інституту - <a href="https://institute-intermarium.com/institute/direction/director.php" title="Профіль Директора Інституту" target="_blank">Валентин Гайдай</a></p>
    </div>
 
</section>
   
<section class="footer_tag_link_block"> 


  <div  class="footer_tag_link_block_content">
    
    
    <div class="footer_tag_link_title">
        <p>ПОПУЛЯРНІ ТЕГИ</p> 
    </div>

    <div class="footer_tag_link_block_column">

      <div class="first_line">

            <div class="tag_about_container">
              <span class="tag_about">Інститут Інтермаріум</span> 
            </div>
            
            <div class="tag_about_container"> 
              <span class="tag_about">Концепція Інтермаріуму</span>
            </div> 

            <div class="tag_about_container">   
              <span class="tag_about">Діяльність Інституту</span>
            </div>

      </div>

      <div class="second_line">

        <div class="column_tag">

            <div class="tag_main_container">
                <span class="tag_main">Склад Інституту</span> 
            </div>

            <div class="tag_main_container">
                <span class="tag_main">Аналітична кафедра</span>
            </div>

        </div>

        <div class="column_tag">

            <div class="tag_articles_container">
                <span class="tag_articles">Статті</span>
            </div>

            <div class="tag_articles_container"> 
                <span class="tag_articles">Аналітика</span>
            </div>

        </div>

        <div class="column_tag">

            <div class="tag_news_container">
                <span class="tag_news">Новини</span>
            </div>

            <div class="tag_news_container">
                <span class="tag_news">Події</span>
            </div>

        </div>

        <div class="column_tag">

            <div class="tag_feedback_container">
                <span class="tag_feedback">Зворотній зв'язок</span>
            </div>

            <div class="tag_feedback_container">
                <span class="tag_feedback">Контакти</span>
            </div>

        </div>

      </div>

    </div>

  </div>
</section>
<section class="footer_upper_block">
         <div class="button_up">
            <a href="#" class="nav_link button_up_link">Нагору</a>
       </div>
</section>


<section class="footer_copyright">

       <div class="footer_copyright_develop">

        <div class="footer_copyright_block_copyright">
            <p>Copyright © 2023 - <a href="https://institute-intermarium.com/" title="Institute Itermarium" target="_blank" class="footer_copyright_nav_link">Institute "Intermarium"</a></p>
        </div>

        <div class="footer_copyright_block_development">
            <p>Powered by <a href="https://www.facebook.com/bbq.dev/" title="BBQuality Developer" target="_blank" class="footer_developer_nav_link">BBQuality</a></p>
        </div>

      </div>
</section>

</footer>
</section>