<header>

<div class="header_background_layer">
<section class="header_content">

<div class="header_content_element">

   <div class="header_title title_ua headernone">
      <a class="title_nav_link link_title" href="/" alt="Інститут Інтермаріум">
       <span class="title_ua">Інститут Інтермаріум</span> 
      </a>
   </div>

   <div class="header_content_logo"> 
      <a href="/" class="header_logo" alt="Інститут Інтермаріум">
          <span class="logo" style="background-image: url('/img/logo.webp');"></span>
      </a>
   </div>


   <div class="header_title title_en headernone"> 
       <a class="title_nav_link link_title" href="/" alt="Institute Intermarium">
        <span class="title_en">Institute Intermarium</span>
       </a>
   </div>

</div>


</section>
</div>

</header>
