<script>

    function showHide(news) {
        if
            (document.getElementById(news)) {
            if
                (document.getElementById(news + '-show').style.display !=
                'none') {
                document.getElementById(news +
                    '-show').style.display = 'none';
                document.getElementById(news).style.display = 'flex';
            }
            else {
                document.getElementById(news +
                    '-show').style.display = 'inline';
                document.getElementById(news).style.display = 'none';
            }
        }
    }

</script>



<div class='news_block_column'>
    <div class='block_title'>
        <a class='nav-link' title='Розділ: Новини та події' href='/tidings' style='color:rgba(151, 19, 19, 0.973);'>
            <p class='column_title'>
                Новини
            </p>
        </a>
    </div>

    <div class="row row-cols-1 row-cols-md-1 g-4">
        <div class="col">
            <div class="card" style="width: 18rem; color: rgba(151, 19, 19, 0.973);">
                <img src="/img/turskworld.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title ">
                        Орбан та Путін за допомогою українських військовополонених розігрують
                        карту
                        сепаратизму в Закарпатті
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: rgba(151, 19, 19, 0.973);"><span
                            class='news_date'>Додано: 26.06.2023</span></li>
                    <li class="list-group-item " style="background-color: rgba(151, 19, 19, 0.973);"><span
                            class='news_date'>Автор: Хлопчина Розумний</span></li>
                </ul>
            </div>
        </div>

        <div class="col">

            <div class="card" style="width: 18rem; color: rgba(151, 19, 19, 0.973);">
                <a class='nav-link' title='Україна та Тюркський світ' href='/tidings/news/turskworld.php'>
                    <img src="/img/turskworld.webp" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: var(--color-desert-card)">
                        <h5 class="card-title ">
                            Орбан та Путін за допомогою українських військовополонених розігрують
                            карту
                            сепаратизму в Закарпатті
                        </h5>
                    </div>

                </a>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: rgba(151, 19, 19, 0.973);"><span
                            class='news_date'>Додано: 26.06.2023</span></li>
                    <li class="list-group-item " style="background-color: rgba(151, 19, 19, 0.973);"><span
                            class='news_date'>Автор: Хлопчина Розумний</span></li>
                </ul>

            </div>
        </div>

        <div class="col">

            <div class="card" style="width: 18rem; color: rgba(151, 19, 19, 0.973);">
                <a class='nav-link' title='Україна та Тюркський світ' href='/tidings/news/turskworld.php'>
                    <img src="/img/turskworld.webp" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: var(--color-desert-card)">
                        <h5 class="card-title ">
                            Орбан та Путін за допомогою українських військовополонених розігрують
                            карту
                            сепаратизму в Закарпатті
                        </h5>
                    </div>

                </a>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: rgba(151, 19, 19, 0.973);"><span
                            class='news_date'>Додано: 26.06.2023</span></li>
                    <li class="list-group-item " style="background-color: rgba(151, 19, 19, 0.973);"><span
                            class='news_date'>Автор: Хлопчина Розумний</span></li>
                </ul>

            </div>
        </div>

        <div class="col">

            <div class="card" style="width: 18rem; color: rgba(151, 19, 19, 0.973);">
                <a class='nav-link' title='Україна та Тюркський світ' href='/tidings/news/turskworld.php'>
                    <img src="/img/turskworld.webp" class="card-img-top" alt="...">
                    <div class="card-body" style="background-color: var(--color-desert-card)">
                        <h5 class="card-title ">
                            Орбан та Путін за допомогою українських військовополонених розігрують
                            карту
                            сепаратизму в Закарпатті
                        </h5>
                    </div>

                </a>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background-color: rgba(151, 19, 19, 0.973);"><span
                            class='news_date'>Додано: 26.06.2023</span></li>
                    <li class="list-group-item " style="background-color: rgba(151, 19, 19, 0.973);"><span
                            class='news_date'>Автор: Хлопчина Розумний</span></li>
                </ul>

            </div>
        </div>
    </div>


</div>