<script>

// commented out for now
/*
function showHide(article) {
	if (document.getElementById(article)) {
		if (document.getElementById(article+'-show').style.display != 'none') {
			document.getElementById(article+'-show').style.display = 'none';
			document.getElementById(article).style.display = 'flex';
		}
		else {
			document.getElementById(article+'-show').style.display = 'inline';
			document.getElementById(article).style.display = 'none';
		}
	}
}
*/

</script>

<script>
    // script for updating elements
    window.onload = () => { 
        fetchAndModify(); 
    };

    function fetchAndModify(){
        let classElements = document.getElementsByClassName("article_block_column");
        if(classElements.length < 1)
            throw new Error("less then 1");

        let articlesColumnEl = classElements[0];

        if(!articlesColumnEl)
            throw new Error("no needed elemnt")
        
        articlesColumnEl.setHTML(`<img src="https://i.gifer.com/ZKZg.gif" width="100" height="100">`)
        getNewHtmlForArciclesPreviwe().then(res => articlesColumnEl.setHTML(res));
    }

    async function getNewHtmlForArciclesPreviwe(){
        let html = 
            `
            <div class="block_title">
                <a class="nav-link" title="Розділ: Статті та аналітика" href="/publications"
                    style="color:rgba(151, 19, 19, 0.973);">
                    <p class="column_title">
                        Статті
                    </p>
                </a>
            </div>`;

        let articlesPreview = await fetchArticles();
        articlesPreview.forEach((article) => {
            let articleDiv = getArticleDiv(article);

            html += articleDiv;
        });

        let bottomHtml = 
            `
            <div id="article-hide" class="block_add">
                <a href="#" type="button" id="article-hide" class="add_title hideLink"
                    onclick="showHide('article');return false;">
                    <span class="text_show_hide">Згорнути</span>
                </a>
            </div>`;

        return html + bottomHtml;;
    }

    async function fetchArticles(){
        let url = 'http://localhost:3000/api/getAll';

        let resp = await fetch(url, {method: 'GET'});
        let articlesJson = await resp.json();

        return articlesJson;
    }

    function getArticleDiv(article) {
        return `
                <div class="main_card card_article show">
                    <a class="nav-link"
                        title="${article.title}"
                        href="${article.href}" style="color:rgba(151, 19, 19, 0.973);">
                        <div class="card_img">
                            <img src="${article.imgLink}" class="main_news_img">
                        </div>
                        <div class="header_news">
                            <span class="title_news">
                                ${article.title}
                            </span>
                        </div>
                        <div class="footer_card article_date article_views">Додано: 21.06.2023</div>
                    </a>
                </div>`;
    }

</script>


<div class="article_block_column">
{{!-- here the articles previews are rendered --}}
</div>