<div class="page_content horizontal_nav ">

<nav class="nav headernone">

<div class="horizontal_nav_section ">

    <div class="menuselect">
        <div class="nav_dropdown nav_title_primary selected">
            <a href="#" title="about" class="main_nav selected">Діяльність Інституту </a>
        </div>
        <div class="nav_dropdown nav_title_secondary">
            <a href="/concept" class="main_nav">Концепція Інтермаріуму</a>
            <a href="/about" class="main_nav">Про Інститут</a>
        </div>
    </div>

    <div class="menuselect">
        <div class="nav_dropdown nav_title_primary selected">
            <a href="/institute" title="Departments" class="main_nav selected">Склад Інституту</a>
        </div>
        <div class="nav_dropdown nav_title_secondary">
            <a href="/institute/direction/" class="main_nav">Керівництво</a>
            <a href="/institute/depanalit/" class="main_nav">Аналітична кафедра</a>
        </div>
    </div>

    <div class="menuselect">
        <div class="nav_dropdown nav_title_primary selected">
            <a href="/news" title="news" class=" main_nav selected">Новини</a>
        </div>

    </div>

    <div class="menuselect">
        <div class="nav_dropdown nav_title_primary selected">
            <a href="/publications" title="analytics and articles" class="main_nav selected">Статті</a>
        </div>

    </div>

    <div class="menuselect displaynone">
        <div class="nav_dropdown nav_title_primary selected">
            <a href="/contacts" title="contacts" class="main_nav selected">Контакти</a>
        </div>
    </div>

</div>

</nav>

<nav class="mobile burger">


    
   
        <div class=" search_line">
            <input type="text" class="search" placeholder="Пошук на сайті...">
        </div>

 
        <div class=" burger_block">
           
             <a href="javascript:void(0)" type="button" class="nav_button bar-item" onclick="w3_open()">



<svg width="800px" height="800px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" id="Слой_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<g>

<rect fill="#e2d8a6f6" height="1" width="11" x="0.5" y="5.5"/>

<rect fill="#e2d8a6f6" height="1" width="11" x="0.5" y="2.5"/>

<rect fill="#e2d8a6f6" height="1" width="11" x="0.5" y="8.5"/>

</g>

</svg>

</a>

</div>
    

</nav>




<!-- Sidebar/menu -->
<nav class="sidebar bar-block white collapse top" id="mySidebar">
<div class="sidebarback">
  <div class="container display-container">
    <i onclick="w3_close()" class="hide-large button display-topright" style="float: right;">X</i>
      <div class="sidebar_logo"> 
      <a href="https://institute-intermarium.com/" class="header_logo" alt="Інститут Інтермаріум">
          <span class="logo" style="background-image: url('/img/logo.webp');"></span>
      </a>
   </div>
  </div>


  <div class="large text-grey" style="font-weight:bold">
 <div id="demoAcc" class="bar-block hide medium">
    <a href="/about" class="bar-item button">Про Інститут</a>
    <a href="/concept" class="bar-item button">Концепція Інтермаріуму</a>
    </div>

      <a href="/institute" class="bar-item button"><i class="fa fa-caret-right w3-margin-right">Склад Інституту</i></a>


	    <a href="/news" title="Tidings" class="bar-item button">Новини</a>
 

   
      <a href="/publications" class="bar-item button">Статті</a>
   

  </div>
 <div id="demoAcc" class="bar-block hide medium">
  <a href="/projects" class="bar-item button ">Наші проєкти</a>
 </div>
    <div id="demoAcc" class="bar-block hide medium">
  <a href="/contacts" class="bar-item button">Контакти</a> 
     </div>
    <div id="demoAcc" class="bar-block hide medium">
  <a href="javascript:void(0)" class="bar-item button" onclick="document.getElementById('newsletter').style.display='block'">Підписка</a> 
      </div>

  </div>
</div>
</nav>

</div>

<script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>